.reserve-btn {
  display: block;
  color: white;
  background-color: #FF5A5F;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.reserve-btn:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.reserve-container {
  padding: 15px;
  height: 54vh;
  position: sticky;
  top: 80px;
  border: 1px solid #d8d7d7;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .reserve-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Adjustments for larger screens */
@media screen and (min-width: 1024px) {
  .reserve-btn {
    padding: 12px 24px;
    font-size: 18px;
  }
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

.line {
  border-bottom: 1px solid #cacaca;
}

.outline {
  border: 1px solid #cacaca;
  border-radius: 8px;
}

.margin-top-btm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}
