.reserve-container {
  padding: 15px;
  height: 355px;;
  position: sticky;
  top: 80px;
  border: 1px solid #d8d7d7;
  border-radius: 20px;
}

.line {
  border-bottom: 1px solid #cacaca;
}

.detail {
  padding: 15px;
  margin: 15px;
}

.bolded-text {
  font-weight: 600;
  font-size: 20px;
}
