<div class = "container border border-primary my-5">
  <div class = "container border border-primary my-5">
    <h1>My Wishlists</h1>
  </div>

  <div class = "container border border-primary my-5">
    <ol>
      <% @wishlists.each do |wishlist| %>
        <li><%= link_to wishlist.name, wishlist_path(wishlist) %></li>
      <% end %>
    </ol>
  </div>
</div>
