<div class="container">
  <h1 class="pt-5"><%= @wishlist.name.capitalize %></h1>

  <div class="all-cards">
    <% @wishlist.listings.each do |listing| %>
      <div style="width: 100px; height: 100px; background-image: url('app/assets/images/haha1.jpg');">Image Here</div>
      <div>
          <%= listing.name %><br>
          <%= listing.address %><br>
          <%= listing.description %>
      </div>
    <% end %>
  </div>
</div>
